body{padding-top:60px;padding-bottom:50px}h1{padding-top:1em;padding-bottom:0.25em}#page-title{font-size:300%;text-align:center}#post-last-modified{text-align:center}.anchor{padding-top:60px}blockquote{background-color:beige;margin:1.625em 0 1.75em 0;border:1px solid #ccc;font-size:0.95em;padding:1em 1.25em;font-weight:400;font-family:"Source Serif Pro",Baskerville,"Libre Baskerville",serif}div>.sourceCode{background-color:whitesmoke;margin:1.625em 0 1.75em 0;border:1px solid #ccc;padding:1em 1.25em}blockquote p{margin:0}table{margin:1.625em 0 1.75em 0;padding:0;border-collapse:collapse;width:100%;border-style:solid;border-color:#000;border-width:2px 0;font-variant-numeric:tabular-nums}table th{font-weight:bold;border-bottom:1px solid #000;text-align:left}
/*
     FILE ARCHIVED ON 07:58:55 Jan 18, 2022 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 07:42:51 Sep 13, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 174.475
  exclusion.robots: 0.079
  exclusion.robots.policy: 0.069
  cdx.remote: 0.06
  esindex: 0.009
  LoadShardBlock: 146.103 (3)
  PetaboxLoader3.datanode: 102.483 (4)
  PetaboxLoader3.resolve: 201.359 (3)
  load_resource: 191.682
*/